@import "tailwindcss";

@theme {
  --color-primary: #022448;
  --color-primary-container: #1E3A5F;
  --color-secondary: #006A61;
  --color-secondary-container: #86F2E4;
  --color-secondary-on-container: #003733;
  --color-surface: #F9F9FF;
  --color-surface-low: #F0F3FF;
  --color-surface-lowest: #FFFFFF;
  --color-on-surface: #111C2D;
  --color-on-surface-variant: #94A3B8;
  --color-error: #DC2626;
  --color-error-container: #FEE2E2;
  --radius-card: 0.75rem;
  --font-family-sans: 'Inter', sans-serif;
  --font-family-mono: 'JetBrains Mono', monospace;
}
